@media screen and (min-width: 1601px) {
    #search {
        width: 1100px !important;
    }
}

@media screen and (min-width: 1270px) {
    #div-items {
        width: 440px;
    }
}

@media screen and (max-width: 1210px) {
    #atendimento i, #sign-in i, #carrinho i {
        font-size: 30px;
    }
}

@media screen and (max-width: 1199px) {
    #div-items {
        width: 400px;
        padding: 0;
    }

    .nav-item p {
        font-size: 13px;
    }

    .nav-item {
        margin: 0 !important;
        width: 140px;
    }

    .nav-item a {
        text-align: end !important;
    }

    .nav-item i {
        font-size: 19px !important;
    }

    .column {
        width: 400px;
    }

    .column-items-menu {
        width: 360px;
    }

    #carrinho-li {
        width: 51px;
    }

    .bi-chat-left-text-fill {
        margin-right: 8px !important;
    }

    .offcanvas-width {
        width: 250px !important;
    }

    .offcanvas-width-pesquisa {
        width: 360px !important;
    }

    .offcanvas-header {
        border-bottom: 2px solid #2ED0C0;
    }

    #icon-sign-in-canvas {
        font-size: 35px;
    }
    
    #content-canvas-sign h5 {
        font-size: 18px;
    }

    .sign-in-canvas {
        font-size: 14px;
        font-weight: 400 !important;
    }

    .sign-in-canvas:hover p {
        color: #2ED0C0;
    }

    .canvas-text {
        font-size: 15px !important;
        font-weight: 400;
    }

    #search-form {
        width: 322px;
    }

    #salao #text-salao p {
        max-width: 800px !important;
    }

    #contato {
        justify-content: center !important;
        margin: 0 0 20px;
    }
}

@media screen and (max-width: 991px) {
    #categories {
        width: 90% !important;
    }

    #text-banner {
        padding-left: 15px !important;
    }

    #text-banner p {
        width: 100% !important;
    }
}

@media screen and (max-width: 650px) {
    #salao {
        display: inline !important;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 565px) {
    .navbar-brand img {
        width: 300px;
    }

    #img-banner {
        background-position: center right !important;
    }
}

@media screen and (max-width: 525px) {
    #contato {
        display: inline !important;
    }

    #rodapé #contato div + div {
        margin-left: 0px !important;
        margin-top: 15px;
    }
    
}

@media screen and (max-width: 499px) {
    .navbar-brand img {
        width: 275px;
    }
}

@media screen and (max-width: 470px) {
    .navbar-brand img {
        width: 213px;
    }
}

@media screen and (max-width: 411px) {
    .navbar-brand img {
        width: 170px;
    }

    .offcanvas-backdrop {
        width: 104vw !important;
        height: 104vh !important;
    }
}

@media screen and (max-width: 373px) {
    #menu {
        width: 106vw !important;
    }

    #text-banner {
        width: 106vw !important;
    }
}

@media screen and (max-width: 368px) {
    .navbar-brand img {
        width: 160px;
    }
}