@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
}

/*################## Estilos do MENU ##################*/

#menu {
    width: 100vw;
    height: 120px !important;
    background-color: white !important;
    border-bottom: 2px solid #2ED0C0;
    position: fixed;
}

#search {
    width: 800px;
    height: 40px;
    border: 2px solid #2ED0C0;
    border-radius: 10px;
}

#search-form {
    margin: 0 !important;
}

#submit-search {
    border: none;
    color: #2ED0C0;
    font-size: 18px;
    margin-left: -55px;
}

#submit-search:hover {
    background: none;
}

#atendimento, #sign-in, #carrinho {
    color: #181818;
    font-weight: 500;
}

#atendimento i, #sign-in i, #carrinho i, #minha-conta i, #meus-pedidos i, #favoritos i {
    transition: 0.3s !important;
}

#atendimento p, #sign-in p, #minha-conta p, #meus-pedidos p, #favoritos p {
    transition: 0.3s !important;
    border-bottom: 2px solid transparent
}

#atendimento:hover i, #sign-in:hover i, #carrinho:hover i, #minha-conta:hover i, #meus-pedidos:hover i, #favoritos:hover i {
    color: #2ED0C0;
}

#atendimento:hover p, #sign-in:hover p, #minha-conta:hover p, #meus-pedidos:hover p, #favoritos:hover p {
    border-bottom: 2px solid #2ED0C0
}

#atendimento i, #sign-in i, #carrinho i {
    font-size: 35px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-nav {
    margin: 0 20px 0 20px !important;
    transition: 0.3s;
}

.navbar-nav li + li {
    margin-left: 20px;
}

input[type="text"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

.accordion-button {
    position: static;
}