/*################## Estilos do BANNER E TEXTO ##################*/

#text-banner {
    background-color: white;
    padding-top: 140px !important;
}

#text-banner h1 {
    color: #181818;
    font-size: 30px;
    font-weight: 600;
}

#text-banner p {
    color: #181818;
    font-size: 14px;
    width: 300px;
}

#img-banner {
    background: url("../images/banner.png") no-repeat center center;
    background-size: 868px 454px;
    height: 300px;
}


/*################## Estilos das CATEGORIAS ##################*/

#categories {
    width: 340px;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    color: #2ED0C0;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button::after {
    visibility: hidden;
}

.accordion {
    --bs-accordion-border-color: #2ED0C0;
    --bs-accordion-border-width: 1px;
}

.accordion-body input, label {
    cursor: pointer;
}

.accordion-body div + div {
    margin-top: 10px;
}

.accordion-body input[type=checkbox] {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

#lista-preços li + li, #lista-categorias li + li, #lista-marcas li + li {
    margin-top: 10px;
}

#lista-preços a, #lista-categorias a, #lista-marcas a {
    cursor: pointer;
    transition: 0.3s;
    border-bottom: 2px solid transparent; 
}

#lista-preços a:hover, #lista-categorias a:hover, #lista-marcas a:hover {
    border-bottom: 2px solid #2ED0C0;
}


/*################## Estilos dos PRODUTOS ##################*/
.card {
    position: inherit;
    width: 250px;
    height: 400px;
    border: none;
    display: grid;
    grid-template-rows: 220px 25px 60px 30px 50px;
}

.card #image img {
    width: 200px;
}

.card #title h1 {
    font-size: 20px;
    font-weight: 600;
}

.card #description p {
    font-size: 15px;
}

.card #price h4 {
    font-weight: 700;
}

.card #price h5 {
    font-weight: 400;
}

.card #price h4 + h5 {
    margin-left: 5px;
}

.card #price-details p {
    font-size: 15px;
}